* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat' !important;
}

header {
    background-color: #d2232a !important;
    color: transparent;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo {
    background: url(https://www.flamengo.com.br/img/logos/logo-menu-md.png) no-repeat;
    background-position: center center;
    background-size: contain;
    height: 120px;
    top: 0;
    margin: 40px;

    display: flex;
    flex-direction: column;
    transform: translate(0, 0);
    animation: move 2s infinite alternate ease-in-out;
}

main {
    width: 100%;
}

h1 {
    font-size: 5rem !important;
}

.faixa {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #000;;
    color: white !important;

    height: 40px;
    width: 100%;
    margin-bottom: 1rem;

    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
}

.frase {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

    font-family: 'Bebas Neue';
    font-size: 2rem;

}

.historia {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    margin-bottom: 10px;
    text-align: justify;
}


.titulo {
    font-family: 'Bebas Neue';
    margin: 0 auto;
    color: #d2232a !important;
}


.paragrafo {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    word-break: keep-all;
    margin: 5px;
}

.img1 {
    background: url(https://conteudo.imguol.com.br/c/esporte/5d/2021/08/25/vitinho-e-michael-comemoram-gol-do-flamengo-sobre-o-gremio-1629945689959_v2_450x337.jpg);
    height: 337px;
    color: transparent;
    width: 450px;
    margin: 10px;
}

.card {
    background-color: black !important;
    color: white;
    border: 1px white solid !important;
    transition: .5s;
}

.cards {
    background-color: black;
    border-radius: 5px;
    padding: 15px 0;
}

footer {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
    align-items: center;

    background-color: #d2232a;
    color: white;

    font-weight: bold;
    font-size: 1.2rem;
    font-style: italic;
}

@keyframes move{
    from {
        transform: translate(-1%, -10%) rotate(-1deg); 
    }
}